/* eslint-disable */

#rpx-1:import Taro from '@tarojs/taro';:#
import Icon from './h5';

const IconFont = ({ name, size = #size#, color, style, className, ...rest }) => {
  return <Icon name={name} size={#rpx-1:parseFloat(Taro.pxTransform(size, #designWidth#)):##rpx-0:size:#} color={color} style={style} className={className} {...rest} />;
};

export default IconFont;
