/* tslint:disable */
/* eslint-disable */

import type { CSSProperties, FunctionComponent } from 'react';

export type IconNames = '#names#';

export interface IconProps {
  name: IconNames;
  size?: number;
  color?: string | string[];
  style?: CSSProperties;
  className?: string;
}

const IconFont: FunctionComponent<IconProps> = () => {
  return null;
};

export default IconFont;
