/* eslint-disable */

import type { CSSProperties, FunctionComponent } from 'react';

interface Props {
  name: '#names#';
  size?: number;
  color?: string | string[];
  style?: CSSProperties;
  className?: string;
}

declare const IconFont: FunctionComponent<Props>;

export default IconFont;
