/* tslint:disable */
/* eslint-disable */

import type { CSSProperties, FunctionComponent } from 'react';
#rpx-1:import Taro from '@tarojs/taro';:#
import Icon from './h5';

export type IconNames = '#names#';

interface Props {
  name: IconNames;
  size?: number;
  color?: string | string[];
  style?: CSSProperties;
  className?: string;
}

const IconFont: FunctionComponent<Props> = ({ name, size = #size#, color, style, className, ...rest }) => {
  return <Icon name={name} size={#rpx-1:parseFloat(Taro.pxTransform(size, #designWidth#)):##rpx-0:size:#} color={color} style={style} className={className} {...rest} />;
};

export default IconFont;
