/* tslint:disable */
/* eslint-disable */

import type { CSSProperties, FunctionComponent } from 'react';
#rpx-1:import Taro from '@tarojs/taro';:#

export type IconNames = '#names#';

interface Props {
  name: IconNames;
  size?: number;
  color?: string | string[];
  style?: CSSProperties | string;
  className?: string;
}

const IconFont: FunctionComponent<Props> = ({ name, size = #size#, color, style, className, ...rest }) => {
  const customStyle = typeof style === 'string' ? style : '';
  // @ts-expect-error native mini-program component
  return <iconfont name={name} size={#rpx-1:parseFloat(Taro.pxTransform(size)):##rpx-0:size:#} color={color} style={style} className={className} customStyle={customStyle} {...rest} />;
};

export default IconFont;
