/* tslint:disable */
/* eslint-disable */

export const getIconColor = (
  color: string | string[] | undefined,
  index: number,
  defaultColor: string,
) => {
  if (!color) {
    return defaultColor;
  }
  return typeof color === 'string' ? color : color[index] || defaultColor;
};
