/* eslint-disable */

/**
 * @param {string | string[] | undefined} color
 * @param {number} index
 * @param {string} defaultColor
 * @return {string}
 */
export const getIconColor = (color, index, defaultColor) => {
  if (!color) {
    return defaultColor;
  }
  return typeof color === 'string' ? color : color[index] || defaultColor;
};
