/* tslint:disable */
/* eslint-disable */

import { memo } from 'react';
import type { FunctionComponent } from 'react';
import type { ViewProps } from 'react-native';
#svgComponents#
#imports#
#exports#

export type IconNames = '#names#';

interface Props extends GProps, ViewProps {
  name: IconNames;
  size?: number;
  color?: string | string[];
}

const IconFont: FunctionComponent<Props> = ({ name, ...rest }) => {
  switch (name) {
#cases#
    default:
      return null;
  }
};

export default memo(IconFont);
