/* eslint-disable */

import { memo } from 'react';
#svgComponents#
#imports#
#exports#

const IconFont = ({ name, ...rest }) => {
  switch (name) {
#cases#
    default:
      return null;
  }
};

export default memo(IconFont);
