/* eslint-disable */

import { memo } from 'react';
#svgComponents#

#xml#

const #componentName# = ({ size = #size#, ...rest }) => {
  /* prettier-ignore */
  return (#iconContent#  );
};

export default memo(#componentName#);
