/* eslint-disable */

import { memo } from 'react';
#svgComponents#
#helper#

const #componentName# = ({ size = #size#, color, ...rest }) => {
  /* prettier-ignore */
  return (#iconContent#  );
};

export default memo(#componentName#);
