/* tslint:disable */
/* eslint-disable */

import { memo } from 'react';
import type { FunctionComponent } from 'react';
import type { ViewProps } from 'react-native';
#svgComponents#
#helper#

interface Props extends GProps, ViewProps {
  size?: number;
  color?: string | string[];
}

const #componentName#: FunctionComponent<Props> = ({ size = #size#, color, ...rest }) => {
  /* prettier-ignore */
  return (#iconContent#  );
};

export default memo(#componentName#);
