/* eslint-disable */

import { getIconColor } from './helper';

const DEFAULT_STYLE = {
  display: 'block',
};

const #componentName# = ({ size = #size#, color, style: _style, className, ...rest }) => {
  const style = _style ? { ...DEFAULT_STYLE, ..._style } : DEFAULT_STYLE;

  /* prettier-ignore */
  return (#iconContent#  );
};

export default #componentName#;
